<h1>Backgrounds</h1>

<%= render 'list', backgrounds: @backgrounds %>

<h2><%= @background[:name] %></h2>

<%= raw @background[:description] %>

<ul>
  <% background_traits_for(@background).each do |label, value| %>
    <li>
      <strong><%= label %>:</strong>
      <%= value %>
    </li>
  <% end %>
</ul>

<h3>Equipments</h3>
<ul>
  <% equipments_description_for(@background).each do |description| %>
    <li><%= description %></li>
  <% end %>
</ul>
