<section class='race-selection'>
  <div class='race-details'>
    <%= render 'races/history', race: @race_variant %>
  </div>

  <div class='races-panel'>
    <%= render 'races/list', races: @races, race: @race %>

    <h3>Traits</h3>
    <ul>
      <% traits_for(@race).each do |trait, value| %>
        <li>
          <strong><%= trait %>:</strong>
          <%= value %>
        </li>
      <% end %>
    </ul>

    <h3>Choose your race variant:</h3>
    <ul class='races-list'>
      <% @race[:race_variants].each do |race_variant| %>
        <%= content_tag :li, class: 'races-list-item' do %>
          <%= link_to race_variant[:name], race_variant_path(race_variant[:slug], race_id: @race[:slug]) %>
        <% end %>
      <% end %>
    </ul>

    <h3><%= @race_variant[:name] %></h3>
    <ul>
      <% traits_for(@race_variant).each do |trait, value| %>
        <li>
          <strong><%= trait %>:</strong>
          <%= value %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
