<%= render 'list', character_classes: @character_classes %>

<h1><%= @character_class[:name] %></h1>

<%= raw @character_class[:description] %>

<h2>Class Features</h2>

<h3>Hit Points</h3>
<ul>
  <% hit_points_descritption_for(@character_class).each do |label, value| %>
    <li>
      <strong><%= label %>:</strong>
      <%= value %>
    </li>
  <% end %>
</ul>

<h3>Proficiences</h3>
<ul>
  <% proficiences_descritption_for(@character_class).each do |proficiency, value| %>
    <li>
      <strong><%= proficiency %>:</strong>
      <%= value %>
    </li>
  <% end %>
</ul>
