<!DOCTYPE html>
<html>
  <head>
    <title>D&amp;D Next Sheet</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render "layouts/menu" %>
      <%= render "characters/character_selecion" %>
    </header>

    <%= yield %>
  </body>
</html>
