<!DOCTYPE html>
<html>
  <head>
    <title>D&amp;D Next Sheet</title>
    <%= stylesheet_link_tag    'application', media: 'all', data: { turbolinks_track: true } %>
    <%= javascript_include_tag 'application', data: { turbolinks_track: true } %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'character_sheets/steps' %>
    </header>

    <%= yield %>
  </body>
</html>
